*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Ubuntu', sans-serif;
}

body{
  /* for dark mode */
  background-color: rgb(53, 52, 52);

  /* for light mode */
  /* background-color: rgb(196, 196, 196);  */

}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #46484f;
  color: white;;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: rgba(82, 82, 244);
}

.dark-mode-icon {
  width: 40px;     /* Increase to make bigger */
  height: 40px;    /* Match proportionally */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.dark-mode-icon:hover {
  transform: scale(1.1); /* Optional: small hover effect */
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  background-color: rgba(82, 82, 244);
}



/* Small mobile phones */
@media (max-width: 480px) {
  /* Styles for very small devices */
  .header{
    font-size: 1.2rem;
  }
  .footer{
    font-size: 1rem;
  }
  .dark-mode-icon {
    width: 30px;     /* Increase to make bigger */
    height: 30px;    /* Match proportionally */
  }

  .btn{
    font-size: 0.8rem;
    padding: .3rem;
  }
  .icon{
    width: 25px;     /* Increase to make bigger */
    height: 25px;    /* Match proportionally */
  }

  .span-email{
    font-size: 0.8rem;
  }
  .credential-container{
    /* gap: 0.5rem; */
  }
  .icon-container{
    /* gap: 0.5rem; */
  }
  .icon-delete{
    /* gap: 0.5rem; */
  }
}

/* Large mobiles and small tablets */
@media (max-width: 767px) {
  /* Styles for mobile and phablets */
}

/* Tablets */
@media (max-width: 1024px) {
  /* Styles for tablets */
}

/* Laptops */
@media (max-width: 1280px) {
  /* Styles for laptops */
}

/* Big desktops */
@media (min-width: 1281px) {
  /* Styles for big screens */
}