
:root {
  --bg-color: #c9c9c9;
  --text-color: #1a1a1a;
  --primary-color: #2F3C7E;
  --secondary-bg: #f0f0f0;
  --border-color: #e0e0e0;
  --card-bg: #ffffff;
  --input-bg: #f8fafc;
  --hover-bg: #eaeaea;
}

[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --primary-color: #2F3C7E;
  --secondary-bg: #2d2d2d;
  --border-color: #444;
  --card-bg: #2c2c2c;
  --input-bg: #3b3b3b;
  --hover-bg: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


/* Customize the scrollbar itself */
::-webkit-scrollbar {
  width: 10px;  /* Horizontal scrollbar width */
  height: 12px; /* Vertical scrollbar height */
}

/* Customize the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: var( --secondary-bg); /* Thumb color */
  border-radius: 10px;     /* Rounded corners for thumb */
}

/* Customize the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: var( --primary-color);  /* Darker thumb color when hovered */
}

/* Customize the track (the part the thumb slides in) */
::-webkit-scrollbar-track {
  background-color: var(--bg-color); /* Track color */
       /* Rounded corners for track */
}

/* Customize the track when hovered */
::-webkit-scrollbar-track:hover {
  background-color: var( --input-bg);    /* Track color when hovered */
}


.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  background-color: var(--primary-color);
}

.footer {
  justify-content: center;
  font-size: 1.2rem;
}

.dark-mode-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.dark-mode-icon:hover {
  transform: scale(1.1);
}

/* Small mobile phones */
@media (max-width: 756px) {
  .header, .footer {
    font-size: 1rem;
  }

  .dark-mode-icon {
    width: 30px;
    height: 30px;
  }

  .btn {
    font-size: 0.8rem;
    padding: 0.3rem;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .span-email {
    font-size: 0.8rem;
  }
}

/* Responsive layout placeholders */
@media (max-width: 767px) {}
@media (max-width: 1024px) {}
@media (max-width: 1280px) {}
@media (min-width: 1281px) {}
